<nav>
    <div class="site-title">
        <p><a href="/">Shoes</a></p>
    </div>

    <ul>
        <li><a href="/catalog/shoes">Shoe List</a></li>
        <li><a href="/catalog/sellers">Seller List</a></li>
        <li><a href="/catalog/brands">Brand List</a></li>
        <li><a href="/catalog/instances">Shoe Instances</a></li>
    </ul>
</nav>