<nav>
    <div class="site-title">
        <p><a href="/">Shoes</a></p>
    </div>

    <ul>
        <li><a href="/catalog/shoes">Shoe List</a></li>
        <li><a href="/catalog/seller">Seller List</a></li>
        <li><a href="/catalog/brand">Brand List</a></li>
        <li><a href="/catalog/shoeinstance">Shoe Instances</a></li>
    </ul>
</nav>